<div class="row">
    <form action="/admin/generate-fake-posts" method="post">
        <h1>Create Posts</h1>
        <div class="form-group">
            <input type="number" name="amount" placeholder="Number of posts to generate" required>
        </div>
        <button type="submit">Create</button>
    </form>
</div>